<section class="menu-section">
  <div>
    <button class="dishButton" type="button" (click)="getPizza($event)">Pizza</button>
    <button class="dishButton" type="button" (click)="getPasta($event)">Pasta</button>
    <button class="dishButton" type="button" (click)="getDrinks($event)">Drinks</button>
    <br>
    <button class="dishButton" *ngIf="!isLoggedIn()" type="button" routerLink="/order">Order summary</button>
    <button class="dishButton" *ngIf="isLoggedIn()" type="button" routerLink="/orders">Orders list</button>
  </div>
  <section>

  </section>
  <div class="menuTable">
    <table class="menu">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Type</th>
        <th>Price</th>
        <th *ngIf="!isLoggedIn()">Add to basket</th>
        <th *ngIf="isLoggedIn()">Description</th>
        <th *ngIf="isLoggedIn()">Availability</th>
        <!--*ngIf="isLoggedIn()"-->
      </tr>
      <tr *ngFor="let dish of dishes">
        <td *ngIf="isLoggedIn() || (!isLoggedIn() && dish.isAvailable)">{{dish.id}}</td>
        <td *ngIf="isLoggedIn() || (!isLoggedIn() && dish.isAvailable)">{{dish.name}}</td>
        <td *ngIf="isLoggedIn() || (!isLoggedIn() && dish.isAvailable)">{{dish.type}}</td>
        <td *ngIf="isLoggedIn() || (!isLoggedIn() && dish.isAvailable)">{{dish.price}}</td>

        <td class="btn" *ngIf="!isLoggedIn() && dish.isAvailable">
          <button [id]="'add' + dish.id" class="add" (click)="addToBasket(dish)">✚</button>
        </td>
        <td class="btn" *ngIf="isLoggedIn()">
          <button [id]="'detail' + dish.id" class="detail" (click)="showDetail(dish.id)">ⓘ</button>
        </td>
        <td class="btn" *ngIf="isLoggedIn()"> {{getAvailability(dish)}}
          <button [id]="'availability' + dish.id" class="availability" (click)="setAvailability(dish)">✎ change</button>
        </td>
      </tr>
    </table>
  </div>
</section>
