<section class="menu-section">
  <div>
<button class="dishButton" type="button" (click)="getPizza($event)">Pizza</button>
<button class="dishButton" type="button" (click)="getPasta($event)">Pasta</button>
<button class="dishButton" type="button" (click)="getDrinks($event)">Drinks</button>
<button class="dishButton" type="button" (click)="addDish($event)">Add dish</button>
  </div>
  <div class="basket"></div>
  <section>
  <app-basket [basket]="basket"></app-basket>


</section>
<section>

</section>
<div class="menuTable">
  <table class="menu">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Type</th>
      <th>Price</th>
      <th>Add</th>
      <th>Description</th>

    </tr>
    <tr *ngFor="let dish of dishes">
      <!--<tr *ngFor="let dish of menuService.dishes$ | async " >-->
      <td>{{dish.id}}</td>
      <td>{{dish.name}}</td>
      <td>{{dish.type}}</td>
      <td>{{dish.price}}</td>
      <td class="btn">
        <button [id]="'add' + dish.id" class="add" (click)="addToBasket($event)">Add</button>
      </td>
      <td class="btn">
        <button [id]="'detail' + dish.id" class="detail" (click)="showDetail(dish.id)">Description</button>
      </td>
    </tr>
  </table>
</div>

</section>
