<app-basket>
</app-basket>
<form [formGroup]="orderAddressForm" id="address-form">
  <table class="orderTable">

    <tr>
      <td>First name</td>
      <td><input type="text" formControlName="firstName"></td>
      <td>Last name</td>
      <td><input type="text" formControlName="lastName"></td>
    </tr>
    <tr>
      <td>Phone number</td>
      <td><input type="tel" formControlName="phoneNumber"></td>
      <td>Mail</td>
      <td><input type="text" formControlName="mail"></td>
    </tr>
    <tr>
      <td>City</td>
      <td><input type="text" formControlName="city"></td>
      <td>Street</td>
      <td><input type="text" formControlName="street"></td>
    </tr>
    <tr>
      <td>Local</td>
      <td><input type="text" formControlName="local"></td>
      <td>Floor</td>
      <td><input type="number" formControlName="floor"></td>
    </tr>
  </table>
  <button class="order" type="submit" [disabled]="!orderAddressForm.valid" (click)="submitOrder()">☑ submit order
  </button>
</form>





