<br>
<table class="price">
  <tr>Total price: {{countPrice()}}</tr>
</table>
<br>

<table class="basket">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Description</th>
    <th>Price</th>
    <th>Remove dish</th>
  </tr>

  <tr *ngFor="let dish of basket">
    <td>{{dish.name}}</td>
    <td>{{dish.type}}</td>
    <td>{{dish.description}}</td>
    <td>{{dish.price}}</td>
    <td class="btn">
      <button class="button" (click)="removeDish(basket.indexOf(dish))">✘</button>
    </td>
  </tr>
</table>
<br>
